# Anatol-X syslinux menüsü (USB'den BIOS modunda açılışta kullanılır)
default vesamenu.c32
prompt 0
timeout 100

menu title Anatol-X Linux 26.0 (Alpha 2.2)
menu background splash.png
menu color title	* #FFFFFFFF *
menu color border	* #00000000 #00000000 none
menu color sel		* #16161E #00FFFF *
menu color hotsel	1;7;37;40 #16161E #00FFFF *
menu color tabmsg	* #FFFFFFFF #00000000 *
menu color help	37;40 #FFDDDD00 #00000000 none
menu vshift 14
menu rows 12
menu helpmsgrow 17
menu cmdlinerow 18
menu timeoutrow 18
menu tabmsgrow 20
menu tabmsg Press ENTER to boot or TAB to edit a menu entry

label live
	menu label ^Anatol-X Live (amd64)
	menu default
	kernel /live/vmlinuz
	append initrd=/live/initrd.img boot=live components quiet splash mitigations=off zswap.enabled=1 zswap.compressor=lz4 zswap.max_pool_percent=25 threadirqs union=overlay

label live-failsafe
	menu label Anatol-X Live (amd64 - ^Guvenli Mod)
	kernel /live/vmlinuz
	append initrd=/live/initrd.img boot=live components noapic noapm nodma nomce nosmp nosplash vga=788 union=overlay

label hd
	menu label ^Sabit Diskten Baslat
	localboot 0x80

menu clear
