# Anatol-X Custom GRUB Colors and Settings
GRUB_DISTRIBUTOR="Anatol-X"
GRUB_COLOR_NORMAL="cyan/black"
GRUB_COLOR_HIGHLIGHT="black/cyan"
GRUB_TIMEOUT=5
GRUB_CMDLINE_LINUX_DEFAULT="quiet splash mitigations=off zswap.enabled=1 zswap.compressor=lz4"
