[Desktop Entry]
Type=Application
Version=1.0
Name=Anatol-X'e Hoşgeldiniz
Comment=Anatol-X hoşgeldin ve kurulum sonrası yardımcı uygulaması
Exec=/usr/bin/anatolx-welcome
Icon=anatolx-welcome
Terminal=false
Categories=System;Settings;
X-GNOME-Autostart-enabled=true
StartupNotify=true
