# Anatol-X özel GRUB menüsü (live-build şablon makroları kullanılır)
# @KERNEL_LIVE@ / @INITRD_LIVE@ / @APPEND_LIVE@ live-build tarafından doldurulur.

source /boot/grub/config.cfg

set timeout=10
set default=0

menuentry "Anatol-X Live (amd64)" --hotkey=a {
	linux	@KERNEL_LIVE@ @APPEND_LIVE@
	initrd	@INITRD_LIVE@
}

menuentry "Anatol-X Live (amd64) - Guvenli Mod" --hotkey=g {
	linux	@KERNEL_LIVE@ @LB_BOOTAPPEND_LIVE_FAILSAFE@
	initrd	@INITRD_LIVE@
}

if [ "${grub_platform}" = "efi" ]; then
	menuentry "UEFI Firmware Ayarlari" --hotkey=u {
		fwsetup
	}
fi

menuentry "Sabit Diskten Baslat" --hotkey=h {
	exit
}
