# Anatol-X GRUB renk ve arka plan teması
set color_normal=#E6E6E6/#1A1B26
set color_highlight=#1A1B26/#00FFFF

if [ -e /boot/grub/anatolx-splash.png ]; then
	background_image /boot/grub/anatolx-splash.png
	set menu_color_normal=#E6E6E6/#16161E
	set menu_color_highlight=#16161E/#00FFFF
else
	set menu_color_normal=cyan/black
	set menu_color_highlight=black/cyan
fi
